@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVBAR */

.navbar {
    background: black;
    display: flex;
    align-items: center;
    padding: 10px 200px;
}

.navbar h1 {
    color: white;
    font-weight: 500;
    font-size: 1.6em;
}

.navbar nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 16px;
    font-size: 0.8em;
}

.navbar nav a:hover {
    color: white;
}

.navbar button {
    margin-left: auto;
    background: rgb(23 162 184);
    border: none;
    color: white;
    padding: 3px 12px;
}

/* LAYOUT */

.content {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 32px 200px;
}

.col1 {
    margin-right: 64px;
}

/* PROFILE CARD */

.card{
    margin-bottom: 32px;
}

.top-box {
    height: 120px;
    background: #5f9fa0;
    position: relative;
}

.top-box img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 0 3px rgba(224, 223, 223, 0.8);
    position: absolute;
    bottom: -60px;
    left: 72px;
}

.info-box {
    padding: 70px 0 0 72px;
    border: 3px solid rgba(224, 223, 223, 0.8);
}

.location {
    margin-top: 10px;
}

.map {
    width: 16px;
    vertical-align: middle;
    margin-right: 10px;
}

.info-box p {
    margin-top: 16px;
    font-weight: 500;
    font-size: 1.3em;
}

.edit-profile {
    margin: 24px 0;
}

.gear {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.edit {
    color: blue;
}

/* BOXES */

.head-box {
    padding: 16px 32px;
    background: rgb(50, 50, 50);
    color: white;
}

.content-box {
    padding: 16px 32px;
    border: 3px solid rgba(224, 223, 223, 0.8);
}

.content-box p,
.content-box h3 {
    font-size: 1.4em;
    padding: 10px 0;
}

/* NUMBER BADGE */

.num {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    padding: 6px 10px;
    min-width: 32px;
    height: 32px;
    background: #ccc;
    color: #333;
    border-radius: 50%;
}

/* CONNECTIONS */

.connections {
    display: flex;
    align-items: center;
}

.connections:not(:last-child) {
    margin-bottom: 6px;
}

.connections img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.connections h2 {
    padding: 0 16px;
    font-size: 1.4em;
}

.accept {
    margin-left: auto;
    display: flex;
    gap: 8px;
}

/* LINKS */

.content-box a {
    color: blue;
    font-size: 1.6em;
}

.requests {
    margin-bottom: 32px;
}